.Dashboard {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f5ff;
}
.content {
    padding-bottom: 100px; /* Adjust this value to leave space for the arrow */
}

.arrow-container {
    border: 1px solid black;
}

.arrow {
    width: 50px; /* Adjust the size of the arrow */
    height: auto;
    fill: #ffffff; /* Adjust the color of the arrow */
}


